/* Import external stylesheet */
@import '@fortawesome/fontawesome-svg-core/styles.css';

/* Define CSS variables */
:root {
  --primary-color: #007bff;
  --hover-color: #1e4d80;
  --secondary-color: #ffc107;
  --text-color: #2a2a2a;
  --background-color: #dedede;
  --shadow-color: #282828;
  --available-color: #e39a04;
  --completed-color: #659419;
  --blocked-color: #8d0707;
}

/* Base styles */
body {
  font-family: "Gill Sans MT", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3 {
  font-family: "Gill Sans MT", sans-serif;
  font-weight: bold;
}

/* Overall container */
.course-tile {
  font-family: "Gill Sans MT", sans-serif;
  transition: box-shadow .5s ease;
  background-color: var(--background-color);
  color: #3f3f3f;
  padding-left: 20px;
  border-radius: 20px;
  margin: 30px;
  box-shadow: -1px -1px 15px var(--available-color);
}

.course-tile.unmet-prereq {
  box-shadow: -1px -1px 15px var(--blocked-color);
}

.course-tile.checked {
  box-shadow: -1px -1px 15px var(--completed-color);
}

.course-header p {
  margin-left: 30px;
}

.course-header p {
  position: absolute;
  top: 10px;
  right: 150px
}

.course-header input[type="checkbox"] {
  margin-left: 5px;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #c9c9c9;
  border: 2px solid #b6b6b6;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  float: right;
  position: absolute;
  top: 25px;
  right: 120px
}

.course-header input[type="checkbox"]:checked {
  background-color: var(--text-color);
  border-color: var(--text-color);
}

/* Header */
.course-header {
  display: flex;
  align-items: center;
}

.course-tile{
  position: relative;
}

.status-icon {
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  top:20px;
  right:20px;
  color: white;
}

.course-header h1 {
  font-size: 1.5rem;
  margin-right: 20px;
}

.course-header h2 {
  font-weight: normal;
}

.credits {
  text-align: center;
  background-color: #eeeeee;
  padding: 5px;
  margin: 0px;
  width: 70px;
  position: relative;
  left: 0px;
  top: 0px;
  height: 20px;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: transform 1s ease;
}

.dropdown-toggle FontAwesomeIcon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.course-details.open .dropdown-toggle i {
  transform: translateY(-5px);
}

/* Details section */
.course-details {
  padding-left: 20px;
  padding-bottom: 20px;
  width: 75%;
}

/* Responsiveness */
@media (max-width: 768px) {
  .course-header {
    flex-direction: column;
  }
}

/* Instructor card list */
.instructor-card-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1px;
}

/* Header */
.header {
  text-align: center;
  font-family: "Gill Sans MT", sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 slots */
  justify-items: center; /* Align items horizontally to the center */
  align-items: center; /* Align items vertically to the center */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1px;
  z-index: 1000;
  box-shadow: 0px 0px 3px var(--background-color);
}

.buttons {
  grid-column: span 2; /* Takes 3 out of 5 slots */
}

.buttons button {
  margin: 0 5px;
  appearance: none;
  flex: 1;
  background-color: black;
  color: whitesmoke;
  padding: 20px;
  border: none;
}

/* Course list */
.course-list {
  padding-top: 120px;
}

/* RapidMiner links */
.rmp-links {
  color: #ffc107;
}

/* Page background */
.page {
  background-color: #e7e7e7;
  color: whitesmoke;
}
