@import '@fortawesome/fontawesome-svg-core/styles.css';

:root {
  --primary-color: #007bff;
  --hover-color: #1e4d80;
  --secondary-color: #ffc107;
  --text-color: #2a2a2a;
  --background-color: #143a60;
}
body {
  font-family: Arial, sans-serif;
}
h1, h2, h3 {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}
/* Overall container */
.course-tile {
  font-family: sans-serif; /* Set a primary font */
  transition: box-shadow .5s ease; /* Smoother shadow effect */
  background-color: var(--background-color);
  padding-left: 20px;
  border-radius: 25px;
  margin: 10px;
  box-shadow: -1px -1px 10px #131313;
}
.course-tile.unmet-prereq {
  background-color: #3f3f3f; /* Light red for unmet prerequisites */
}
.course-tile.checked {
  background-color: #14602f; /* Light red for unmet prerequisites */
}
.course-header p {
  margin-left: 30px;
}
.course-header input[type="checkbox"] {
  margin-left: 5px; /* Space between checkbox and title */
  appearance: none; /* Hide default checkbox appearance */
  width: 16px;
  height: 16px;
  background-color: #ddd; /* Set background color for unchecked state */
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  float: right;
}

.course-header input[type="checkbox"]:checked {
  /* Style the checkbox when checked */
  background-color: var(--text-color); /* Change color on check */
  border-color: var(--text-color); /* Update border color */
}

.course-tile:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /* Highlight on hover */
}

/* Header */
.course-header {
  display: flex;
  align-items: center;
}

.course-header h1 {
  font-size: 1.5rem; /* Emphasize course ID */
  margin-right: 20px; /* Space between course ID and title */
}

.course-header h2 {
  font-weight: normal; /* Differentiate from h1 */
}

.dropdown-toggle {
  background-color: transparent; /* Remove default button background */
  border: none; /* Remove default button border */
  padding: 0; /* Remove default button padding */
  cursor: pointer;
  transition: transform 1s ease;
}

.dropdown-toggle FontAwesomeIcon {
  font-size: 1.2rem;
  color: var(--text-color); /* Use your text color variable */
}

.course-details.open .dropdown-toggle i {
  transform: translateY(-5px); /* Rotate arrow icon on open */
}

/* Details section */
.course-details {
  padding: 15px;
  width: 75%;
  /*border-top: 1px solid #ddd; /* Visual separator */
}

/* Responsiveness */
@media (max-width: 768px) {
  .course-header {
    flex-direction: column; /* Stack elements on smaller screens */
  }

}
.instructor-card-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2a2a2a; /* Adjust as needed */
  color:white;
  padding: 10px;
  z-index: 999; /* Ensure it's above other content */
  box-shadow: 0px 2px 10px #131313;
}
.buttons {
  margin-right: 40px;
}

.buttons button {
  margin: 0 5px;
  appearance: none;
  flex:1;
  background-color: #2a2a2a;
  color: whitesmoke;
  padding:10px;
  border: none;
  box-shadow: -1px -1px 2px black;
}

.course-list {
  padding-top: 120px;
}

.rmp-links {
  color: #ffc107;
}

.page{
  background-color: #3f3f3f;
  color:whitesmoke;
}